.header {
  padding: var(--app-padding);
  padding-bottom: 2.4rem;
}

.header__container {
  position: relative;
  min-height: 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  user-select: none;
}

.header__header {
  width: 100%;
}

.header__top {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header__search {
  position: relative;
  display: flex;
  width: 180px;
  align-items: center;
}

.header__search-input {
  border: none;
  border-bottom: 1px solid var(--c-black);
  font-size: 12px;
  line-height: 15px;
  outline: none;
  padding: 2px 2.5rem 10px 0;
  width: 100%;
}

.header__search-input::placeholder {
  text-transform: uppercase;
  letter-spacing: 0.16em;
  color: var(--c-black);
  opacity: 1;
}

.header__search-btn {
  position: absolute;
  right: 0;
  background-color: transparent;
  border: none;
}

.header__logo-link {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 0;
}

.header__icon-link {
  display: inline-flex;
  align-items: center;
}
.header__icon-link--mobile {
  display: none;
  margin: 0 !important;
}

.header__icon-link:not(:last-child) {
  margin-right: 24px;
}

.header__nav-links {
  display: flex;
  justify-content: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0.16em;
  text-transform: uppercase;
  margin-top: 20px;
}

.header__nav-link:not(:last-child) {
  margin-right: 20px;
}

/* HAMBURGER */

.header__nav-toggle-checkbox {
  display: none;
}

.header__nav-toggole-label {
  cursor: pointer;
  display: none;
}

.header__hamburger {
  display: flex;
  flex-direction: column;
  height: 16px;
  width: 16px;
  position: relative;
}

.header__hamburger span {
  height: 1px;
  width: 16px;
  background-color: var(--c-black);
  position: absolute;
  transition: transform 0.2s ease-in-out, opacity 0.1s ease-in-out;
}

.header__hamburger span:nth-child(1) {
  top: 3px;
}

.header__hamburger span:nth-child(2),
.header__hamburger span:nth-child(3) {
  top: 8px;
}

.header__hamburger span:nth-child(4) {
  top: 13px;
}

.header__nav-toggle-checkbox:checked
  ~ .header__nav-toggole-label
  span:nth-child(1),
.header__nav-toggle-checkbox:checked
  ~ .header__nav-toggole-label
  span:nth-child(4) {
  opacity: 0;
}

.header__nav-toggle-checkbox:checked
  ~ .header__nav-toggole-label
  span:nth-child(2) {
  transform: rotateZ(45deg);
}

.header__nav-toggle-checkbox:checked
  ~ .header__nav-toggole-label
  span:nth-child(3) {
  transform: rotateZ(-45deg);
}

.header__nav-toggle-checkbox:checked ~ .header__nav-toggole-label {
  position: fixed;
}

.header__nav-toggle-checkbox:checked ~ .header__icon-link--mobile {
  margin-left: auto !important;
}

@media screen and (max-width: 950px) {
  .header__container {
    justify-content: space-between;
  }

  .header__nav-toggole-label {
    display: inline;
    z-index: 999;
  }

  .header__header {
    z-index: 99;
    position: fixed;
    height: var(--app-height);
    top: 0;
    width: 400px;
    left: 0;
    transform: translateX(-100%);
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
    border-right: 1px solid var(--c-black);
    background-color: var(--c-white);
    padding: 100px var(--app-padding) 0;
  }

  .header__nav-links {
    flex-direction: column;
  }

  .header__icon-link--mobile {
    display: block;
  }

  .header__nav-toggle-checkbox:checked ~ .header__header {
    transform: translateX(0);
  }

  .header__top {
    flex-direction: column;
  }

  .header__search {
    width: 100%;
  }

  .header__icons {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .header__nav-links {
    font-size: 18px;
  }

  .header__nav-link:not(:last-child) {
    margin: 0;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 450px) {
  .header__header {
    width: 100%;
    border: none;
  }

  .header__nav-link {
    text-align: center;
  }
}
