:root {
  --app-height: 100vh;
  --app-width: 1440px;
  --app-padding: 4rem;

  /* COLORS */
  --c-black: #000;
  --c-white: #fff;
  --c-primary: #fff5eb;
  --c-grey: #292929;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

@media only screen and (max-width: 1200px) {
  html {
    font-size: 56.25%;
  }
}

@media only screen and (max-width: 1000px) {
  :root {
    --app-padding: 3rem;
  }
}
