.moving-bar {
  background-color: var(--c-primary);
  padding: 8px 0;
}

.moving-bar__list {
  display: flex;
  justify-content: center;
  align-items: center;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }
}

.moving-bar__item {
  font-weight: 500;
  font-size: 10px;
  line-height: 170%;
  letter-spacing: 0.09em;
  text-transform: uppercase;
}

.moving-bar__item:hover {
  text-decoration: underline;
}

.moving-bar__dot {
  margin: 0 20px;
  display: inline-block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: black;
}

.moving-bar__list > *:nth-child(n + 14) {
  display: none;
}

/* HERO */
.hero__container {
  padding: var(--app-padding);
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--app-padding);
}

.hero__img {
  width: 100%;
  max-height: 520px;
  object-fit: contain;
}

.hero__rich-text {
  padding: 0 var(--app-padding);
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero__sub,
.arrivals__sub,
.bsellers__sub {
  font-weight: 500;
  font-size: 2.4rem;
  line-height: 2.9rem;
  text-transform: uppercase;
  color: #292929;
}

.hero__title {
  font-weight: 700;
  font-size: 7.2rem;
  line-height: 100%;
  text-transform: uppercase;
  margin-top: 10px;
}

.hero__text,
.arrivals__info {
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  margin: 24px 0;
}

.hero__link span,
.bseller__link span,
.arrivals__link span,
.mission__link span,
.collections__link span,
.stories__link span {
  font-weight: 700;
  font-size: 16px;
  line-height: 160%;
  margin-right: 10px;
}

/* ARRIVALS */
.arrivals__container {
  padding: 0 var(--app-padding);
  margin-top: var(--app-padding);
}

.arrivals__main-card {
  border: 1px solid var(--c-black);
  text-align: center;
  padding: 6rem 1rem 9rem;
  display: flex;
  flex-direction: column;
  height: auto;
  max-height: 520px;
  max-width: 330px;
}

.arrivals__title,
.bsellers__title,
.collections__title,
.collections-slider__title,
.designers__title,
.stories__title {
  margin-top: 1.8rem;
  font-weight: 700;
  font-size: 4.8rem;
  line-height: 100%;
  text-transform: uppercase;
}

.arrivals__info {
  /* margin: 2.4rem 0 12rem; */
  flex: 1;
}

/* .arrivals__list .swiper-slide {
  width: 328px !important;
} */

.arrivals__next-btn {
  right: 0;
  justify-content: flex-end;
}

/* SWIPER */
.swiper-button-next,
.swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: var(--c-white);
  display: flex;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  height: 40px;
  background-color: var(--c-white);
  display: flex;
  padding: 0 4px;
  align-items: center;
}
.swiper-button-next::after {
  content: url(/assets/images/icons/chevron-right-big.svg);
}
.swiper-button-prev::after {
  content: url(/assets/images/icons/chevron-left-big.svg);
}

/* BEST SELLERS */

.bsellers {
  padding: 8rem 0;
}

.bsellers__container {
  max-width: calc(1140px + var(--app-padding) * 2);
  padding: 0 var(--app-padding);
  display: grid;
  gap: 0 20px;
  grid-template-columns: 1fr 1fr;
}

.bsellers__title {
  margin-top: 10px;
  margin-bottom: 6.5rem;
}

.bseller2 {
  grid-row: 1 / span 2;
  grid-column: 2;
}

.bseller1 {
  max-width: 443px;
}

.bseller__img {
  width: 100%;
}

.bseller__bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.bseller__title {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 120%;
}

/* MISSION */
.mission {
  padding: 5rem 0 7.8rem;
  background-color: var(--c-primary);
}
.mission__container {
  max-width: calc(1140px + var(--app-padding) * 2);
  padding: 0 var(--app-padding);
}

.mission__sub,
.collections__sub,
.collections-slider__sub,
.designers__sub,
.story__sub {
  font-weight: 500;
  font-size: 10px;
  line-height: 170%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.mission__body {
  justify-content: space-between;
  align-items: center;
  display: flex;
  margin-top: 10px;
}

.mission__text {
  font-weight: 600;
  font-size: 3.2rem;
  line-height: 120%;
  max-width: 77rem;
}

/* COLLECTION */
.collections {
  padding: 8rem 0;
}

.collections__container {
  max-width: calc(1140px + var(--app-padding) * 2);
  padding: 0 var(--app-padding);
}

.collections__header,
.collections-slider__header,
.designers__header {
  text-align: center;
}

.collections__title {
  margin-top: 8px;
}

.collections__body {
  margin-top: 4.8rem;
  display: flex;
  align-items: center;
}

.collections__ad {
  width: 45%;
}

.collections--reverse .collections__ad {
  order: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.collections__img {
  display: block;
  margin-bottom: 16px;
  width: 100%;
  max-width: 438px;
}

.collections__products {
  position: relative;
  width: 55%;
}

.collections__products-container {
  max-width: 47rem;
}

/* NEWIN */
.newin .product--small,
.seasonal .product--small {
  margin-top: 0 !important;
}

.collections__products .swiper-button-next {
  right: 0;
  justify-content: flex-end;
}
.collections__products .swiper-button-prev {
  justify-content: flex-start;
  left: 0;
}

/* COLLECTION SLIDER */
.collections-slider__container {
  /* max-width: calc(1140px + var(--app-padding) * 2); */
  padding: 0 var(--app-padding);
}

.collections-slider__body {
  margin-top: 4.8rem;
}

.collections-slider__slider {
  max-height: 516px;
}

.collections-slider__slider .swiper-slide {
  width: calc(25% - 16px);
}

.collections-slider__slider .swiper-slide:nth-child(1) {
  width: calc(75% - 16px) !important;
}

.collections-slide__img {
  width: 100%;
  display: block;
  object-fit: cover;
  position: absolute;
  top: 0;
}

.collections-slider__next-btn {
  right: 0;
}
.collections-slider__prev-btn {
  left: 0;
  display: none;
}

/* DESIGNERS */
.designers {
  padding-bottom: 8rem;
}

.designers__container {
  padding: 0 var(--app-padding);
}

.designers__body {
  margin-top: 3.6rem;
}

.designer__img {
  width: 100%;
  max-width: 330px;
}

.designer__name {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  margin-top: 8px;
}

.designers__prev-btn,
.designers__next-btn {
  display: none;
}

.designers__prev-btn {
  left: -10px;
}

.designers__next-btn {
  right: -10px;
}

.designers__next-btn.swiper-button-disabled,
.designers__prev-btn.swiper-button-disabled {
  opacity: 0.7;
}

/* STORIES */
.stories {
  padding: 8rem 0 6.6rem;
  background-color: var(--c-primary);
}

.stories__container {
  padding: 0 var(--app-padding);
  display: flex;
  justify-content: space-between;
  gap: 16px;
}

.stories__list {
  display: contents;
}

.stories__title,
.story__title {
  color: var(--c-grey);
}

.stories__title {
  margin-bottom: 4rem;
}

.story__title {
  font-weight: 600;
  font-size: 16px;
  line-height: 160%;
}

.story__img {
  width: 100%;
  max-width: 330px;
}

.stories__header,
.story {
  flex: 1;
}

.stories__header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 15%;
}

.story__sub {
  font-weight: 300;
}

.story__desc {
  font-weight: 500;
  font-size: 14px;
  line-height: 160%;
  color: #7c7c7c;
}

.story__link span {
  font-weight: 700;
  font-size: 10px;
  line-height: 172%;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  margin-right: 10px;
}

.story__text {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin: 16px 0;
}

@media only screen and (max-width: 1300px) {
  .moving-bar__container {
    overflow-x: hidden;
  }
  .moving-bar__list {
    padding-left: var(--app-padding);
    animation: marquee 35s infinite linear forwards;
    width: max-content;
    display: inline-flex;
  }

  .moving-bar__list > *:nth-child(n + 14) {
    display: block;
  }

  .hero {
    min-height: 600px;
    display: flex;
    align-items: center;
  }

  .hero__title {
    font-size: 6.4rem;
  }

  .arrivals__title,
  .bsellers__title,
  .collections__title,
  .collections-slider__title,
  .designers__title,
  .stories__title {
    font-size: 4.2rem;
  }

  .arrivals__main-card {
    padding: 5rem 1rem 7rem;
  }

  .collections__next-btn {
    right: 10px;
  }
  .collections__prev-btn {
    left: 10px;
  }

  .collections__body {
    gap: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .hero__container {
    grid-template-columns: 6fr 5fr;
    gap: 2rem;
  }

  .hero__title {
    font-size: 6rem;
  }

  .hero__rich-text {
    padding: 0;
  }

  .bsellers__title,
  .arrivals__title,
  .bsellers__title,
  .collections__title,
  .collections-slider__title,
  .designers__title,
  .stories__title {
    font-size: 4rem;
  }

  .mission {
    padding: 5rem 0;
    padding-left: var(--app-padding);
  }

  .mission__body {
    display: block;
  }
  .mission__text {
    margin-bottom: 2rem;
  }

  .bseller__title {
    font-size: 2.8rem;
  }

  .collections__products {
    padding: 0 4rem;
  }

  .collections-slider__slider .swiper-slide:nth-child(1) {
    width: calc(200% / 3 - 16px) !important;
    height: auto;
  }

  .collections-slider__slider
    .swiper-slide:nth-child(1)
    .collections-slide__img {
    object-fit: cover;
    height: 100%;
    object-position: 75%;
  }

  .collections-slider__slider .swiper-slide:nth-child(8) {
    display: none;
  }

  .stories__container {
    display: block;
  }

  .stories__header {
    padding-bottom: 4rem;
    text-align: center;
  }

  .stories__title {
    margin: 0 0 2rem;
  }

  .stories__list {
    display: flex;
    gap: 2rem;
  }

  .designers__prev-btn,
  .designers__next-btn {
    display: flex;
  }
}

@media only screen and (max-width: 800px) {
  .hero__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 3rem;
  }

  .hero__rich-text {
    order: 1;
  }

  .hero__title {
    font-size: 5.4rem;
  }

  .bsellers__header {
    grid-column: 1 / -1;
    grid-row: 1;
  }

  .bseller2 {
    grid-row: 2;
    grid-column: 2;
  }

  .bsellers__title {
    margin-bottom: 3rem;
  }

  .hero__sub,
  .arrivals__sub,
  .bsellers__sub {
    font-size: 2.2rem;
    line-height: 2.5rem;
  }

  .bseller__title {
    font-size: 2.4rem;
  }

  .hero__link span,
  .bseller__link span,
  .arrivals__link span,
  .mission__link span,
  .collections__link span,
  .stories__link span {
    font-size: 14px;
    margin-right: 6px;
  }
}

@media only screen and (max-width: 700px) {
  .collections-slider__slider .swiper-slide:nth-child(1) {
    width: 100% !important;
    height: auto;
  }

  .arrivals__main-card {
    padding: 7rem 1rem 9rem;
  }

  .mission__text {
    margin-bottom: 4rem;
  }

  .stories__list {
    flex-wrap: wrap;
  }

  .story {
    flex-basis: 240px;
    max-width: 400px;
  }

  .story:last-child {
    max-width: calc(50% - 1rem);
    margin: 0 auto;
    margin-top: 3rem;
  }

  .bsellers__container {
    display: block;
  }

  .bseller {
    max-width: 400px;
    margin: 0 auto;
    margin-bottom: 3rem;
  }

  .bseller__bottom {
    margin-top: 8px;
  }

  .collections__ad {
    width: 55%;
  }
  .collections__products {
    width: 45%;
  }

  .collections__products-container {
    max-width: 20rem;
  }
}

@media only screen and (max-width: 550px) {
  .hero__title {
    font-size: 40px;
  }

  .arrivals__main-card {
    padding: 5rem 1rem 3rem;
    max-height: 420px;
    max-width: 50%;
  }

  .arrivals__title {
    font-size: 27px;
  }

  .arrivals__info {
    margin: 18px 0 0;
  }
  .product__info {
    overflow: hidden;
    height: 24px;
    text-overflow: ellipsis;
  }

  .stories__list {
    display: block;
  }

  .story {
    margin: 0 auto;
  }

  .story__img {
    margin: 3rem auto 0;
    display: block;
  }

  .story:last-child {
    max-width: max-content;
    margin: 0 auto;
    margin-top: 3rem;
  }

  .story__img {
    max-width: 350px;
  }

  .hero__sub,
  .arrivals__sub,
  .bsellers__sub {
    font-size: 2rem;
  }

  .mission {
    padding-left: 0;
  }

  .mission__text {
    font-size: 20px;
  }

  .arrivals__next-btn,
  .collections__next-btn,
  .collections__prev-btn {
    width: 24px;
    height: 24px;
  }

  .swiper-button-next::after,
  .swiper-button-prev::after {
    transform: scale(0.6);
  }

  .designers__prev-btn,
  .collections-slider__prev-btn {
    left: -12px;
    display: flex;
  }

  .designers__next-btn,
  .collections-slider__next-btn {
    right: -12px;
  }

  .collections__body {
    display: block;
  }

  .collections__ad {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center !important;
    padding-top: 100%;
    position: relative;
    margin-bottom: 16px;
  }

  .collections__img {
    position: absolute;
    top: 0;
    height: 100%;
    object-fit: cover;
    width: 100%;
    max-width: 100%;
  }
  .collections__products {
    width: 100%;
    padding: 0;
  }

  .collections__link {
    display: none;
  }

  .collections__products-container {
    max-width: max-content;
  }

  .collections__prev-btn {
    left: 0;
  }
  .collections__next-btn {
    right: 0;
  }
}
